.fix{
    background-size: 100vw 100vh;
    background-attachment: fixed ;
    margin: 0;
    font-family: Merriweather;
    padding-bottom: 20px; 
}

.formulario{
    width: 450px;
    margin: auto;
    background: rgba(0, 0, 0, .0);
    padding: 20px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    text-align: center;
    padding-right: 30px;

}
input, textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;

    font-size: 17px;
    border: none;
    margin: 0px 13px 5px 10px;

}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}
#boton{
    background-color: #31384a;
    color: aliceblue;
    padding: 20px;

}
#boton:hover{
    cursor: pointer

}   
@media (max-width:480px){
    .formulario{
        width: 100%;
    }
}
 .h2{
    padding-bottom: 10px;
}
.radios{

    width: 5%;
    display: inline-block;
    float: left;
    padding-right: 10px;
    width: 20px;
    height: 20px;

}
label{
    text-align: left;
    display: block;
    font-size:  20px;
 
}
.titles{
    font-size: 24px;
    margin: 0!important;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 16px;
    padding-bottom: 0;
}
#contact{
    background-image: url('/img/portfolio/back-ground-form/fondo.jpg');
    background-size: 100vw
    100vh;
    background-attachment: fixed !important;
    margin: 0;
    font-family: monospace;

}
.text-mutedf{
    color: black;
    font-family:  Merriweather;
    padding: 20px 20px;


}
.entrada{
    width: 100;
    margin-bottom: 20px;
    padding-right: 20px;
    padding: 7px;
  
    font-size: 17px;
    border: none;
    border-radius: 7px;
    text-align: left;
    box-sizing: border-box ;
}
.page-sectionf{
    padding-top: 4rem;
    padding-bottom: 4rem;
}
.footer{
    background-color: #5b5b5b;
}
.wa{
    text-align: right;
    position: relative;
    float: right;

}
.gracias{
    text-align: center;
    color: fff;
    font-size: 40px;
    background-color: rgba(0, 0, 0, .4);
    margin-top: 20px;
    
}
